{% extends "base.html" %}

{% block title %}Message sent{% endblock %}

{% block styles %}
  <style>
    #block_done {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 100vh;
      background: #A2C3A4;
    }

    #block_done h2 {
      color: #EEE7ED;
      font-weight: 800;
      text-align: center;
    }
  </style>
{% endblock %}

{% block body %}
  <div id="block_done">
    <h2>Message successfully send<br>Please check your email</h2>
  </div>
{% endblock %}
