{% extends "users/base_auth_form.html" %}
{% load crispy_forms_tags %}

{% block title %}New user{% endblock %}

{% block form_title %}Sign Up{% endblock %}

{% block form %}
  {% csrf_token %}
  {{ form|crispy }}

  <div class="mt-3 d-flex flex-column justify-content-center">
    <button type="submit" class="btn btn-success mb-4">Sign up</button>
    <div class="block_redirect">
      <label>Do you already have an account?</label>
      <a href="{% url "login" %}" class="btn btn-success">Login</a>
    </div>
  </div>
{% endblock %}
