<div class="d-flex flex-column container mt-3">

  <div class="d-flex justify-content-center container mb-3">
    <form class="container" id="form_add_parent_comment" method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="parent_text_comment" class="form-label">New comment</label>
        <textarea class="form-control" id="parent_text_comment" rows="3" name="text" placeholder="Text"></textarea>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Add</button>
      </div>

    </form>
  </div>

  <div class="d-flex flex-column" id="comments">
    {% for parent_comment in object.parent_comments %}
      <div class="parent_comment d-flex flex-column mb-1" id="parent_{{ parent_comment.id }}">
        <div class="d-flex align-items-center mb-1">
          <img src="{{ parent_comment.user.profile_image_thumbnail.url }}" alt="" class="author_avatar">
          <div class="d-flex flex-column">
            <span class="author_name">{{ parent_comment.user.get_full_name }}</span>
            <span class="text-muted comment_date">{{ parent_comment.created_at }}</span>
          </div>
        </div>
        <span class="comment_text text-wrap">{{ parent_comment.text|safe }}</span>
        {% if not parent_comment.child_comments %}
          <div class="reply_to_parent">
            <button class="btn_reply" data-parent="{{ parent_comment.id }}"
                    id="reply_{{ parent_comment.id }}">
              &#8627;Reply
            </button>
          </div>
        {% endif %}
      </div>

      <div class="child_comments d-flex flex-column mb-3" id="child_{{ parent_comment.id }}">
        {% for child_comment in parent_comment.child_comments %}
          <div class="child_comment d-flex flex-column">
            <div class="d-flex align-items-center mb-1">
              <img src="{{ child_comment.user.profile_image_thumbnail.url }}" alt="" class="author_avatar">
              <div class="d-flex flex-column">
                <span class="author_name">{{ child_comment.user.get_full_name }}</span>
                <span class="text-muted comment_date">{{ child_comment.created_at }}</span>
              </div>
            </div>
            <span class="comment_text">{{ child_comment.text|safe }}</span>
          </div>
        {% endfor %}
        {% if parent_comment.child_comments %}
          <div class="reply_to_parent_from_child">
            <button class="btn_reply" data-parent="{{ parent_comment.id }}"
                    id="reply_{{ parent_comment.id }}">
              &#8627;Reply
            </button>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>

</div>
