{% extends "users/auth/base_auth.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block auth_form %}
  <form action="{% url "signup" %}" method="post" class="auth_form">
    {% csrf_token %}
    <img class="mb-4 logo_img" src="{% static "images/logo.svg" %}" alt="">
    <h3 class="mb-3">Sign up form</h3>
    {{ form.non_field_errors }}
    {% for field in form %}
      {{ field.errors }}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        <input type="{{ field.widget_type }}" class="form-control"
               name="{{ field.name }}" id="{{ field.id_for_label }}">
      </div>
    {% endfor %}

    <div class="d-flex flex-column w-100">
      <button type="submit" class="btn btn-confirm mb-4">Sign up</button>
      <a href="{% url "login" %}" class="btn btn-dark">Login</a>
    </div>
  </form>
{% endblock %}
