.content {
  margin: 50px auto;
  width: 65%;
}
.home p {
  font-size: 16pt;
}
.home h1 {
  padding-bottom: 10pt;
  padding-left: 20%
}
.home a {
  margin: 2% 2% 2% 40%;
  height: 80px;
  width: 250px;
  padding-top: 25px;
}
