.sidenav {
  float: left;
  vertical-align: top;
  width: 200px;
  position: absolute;
  z-index: 1;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.sidenav-header {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  color: #2196F3;
  display: block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.chat-log {
  float: right;
}
